<h1>IN STORE</h1>

<div class="flex-container">
  <% @movies.each do |movie| %>
  <div class="sum-style">
    <h2><%= movie.name %></h2>
    <p>Name: <%= movie.name %></p>
    <p>Certificate: <%= movie.certificate %></p>
    <form action="/movies/<%= movie.id %>/delete" method="post">
      <input class="bigger-btn" type="submit" value="Remove from Stock">
    </form>
  </div>
  <% end %>
</div>
