<h1>[ NEW MOVIE ]</h1>

<form method="POST" action="/movies">


  <div class="movie">
    <label for="name">Title:</label>
    <input type="text" name="name" id="name" required/>
    <div>

      <div class="movie"
      <label for="certificate">Certificate:</label>
      <input type="text" name="certificate" id="certificate" required/>
    </div>

    <div class="movie">
      <input class="btn"type="submit" value="Add movie"/>
    </div>
  </form>
