<h1>CURRENT RENTALS</h1>

<div class="flex-container">
    <% @rentals.each do |rental| %>
    <div class="sum-style">
      <p>Customer: <%= rental.customer.name %></p>
      <p>Title: <%= rental.movie.name %></p>
    <form action="/rentals/<%= rental.id %>/delete" method="post">
      <input class="btn" type="submit" value="Remove Rental">
    </form>
    </div>
    <% end %>
</div>
