<h1>NEW CUSTOMER</h1>

<form method="POST" action="/customers">


  <div class="customer">
    <label for="name">Full Name:</label>
    <input type="text" name="name" id="name"/>
  <div>

  <div class="customer"
    <label for="address">Address:</label>
    <input type="text" name="address" id="address"/>
  </div>

  <div class="customer">
    <label for="age">Age:</label>
    <input type="text" name="age" id="age"/>
  </div>

  <div class="customer">
    <input class="bigger-btn" type="submit" value="Complete Registration "/>
  </div>


  </div>

</form>
